extends layout 
block content
  .container.text-center.py-5
    h1 ERROR
    h2.fw-light= title
    h1.display-1.fw-bold.text-danger= error.status || 500
    p.lead= error.message
    a.btn.btn-primary.mt-3(href="/") Go Home
