extends layout
block content

  main.px-3
    h1 Sakila Movies
    p.lead Welcome to Sakila Movies, your go-to destination for exploring a vast collection of films from various genres and eras. Dive into our extensive database to find your next favorite movie, read reviews, and discover hidden gems. Whether you're a casual viewer or a cinephile, Sakila Movies has something for everyone. Start your cinematic journey with us today!
    p.lead
      a.btn.btn-lg.btn-light.fw-bold.border-white.bg-white(href="/movies") Explore Movies
