extends layout

block content
  .container.my-5
    .row
      .col-12
        h1 Mijn Watchlist
        p Dit is een lijst van alle beschikbare films.

    .row.row-cols-1.row-cols-md-3.g-4
      each movie in movies
        .col
          .card.h-100
            img.card-img-top(src="/images/Bombardiro_Crocodillo.jpg", alt=movie.title)
            .card-body
              h5.card-title= movie.title
              p.card-text= movie.description
            .card-footer
              // Je kunt hier knoppen toevoegen, bijvoorbeeld om naar de details te gaan
              button.btn.btn-primary View Details